
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}
.visually-hidden {
  display: none;
}
/*---header----*/
.logo {
  position: absolute;
  z-index: 2;
  margin-left: 530px;
  width: 138px;
  height: 70px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  min-height: 56px;
  margin: 0 72px;
  padding: 0;
  align-items: center;
  list-style: none;
  background-color: white;
}
.site-navigation li {
  width: 20%;
}
.site-navigation li:nth-child(4n + 1) {
  margin-right: 31px;
}
.site-navigation li:nth-child(4n + 3) {
  margin-left: auto;
  margin-right: 31px;
}
.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  text-align: left;
}
.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  text-align: right;
}
.site-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-stretch: normal;
  color: black;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:active, .site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.active {
  color: #766357;
}
/*---main------*/
.main-content {
  position: relative;
  width: 1200px;
}
/*---Welcome---*/
.promo {
  display: flex;
  min-height: 724px;
  align-items: center;
  position: relative;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: right 0 top 451px, center -83px;
  background-color: #81b3d2;
}
.welcome {
  position: absolute;
  left: 371px;
  bottom: 295px;
}
.promo-content {
  width: 1200px;
  min-height: 216px;
  position: absolute;
  bottom: 0;
  background-color: white;
}
.slogan {
  max-width: 450px;
  margin: 59px auto 28px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.promo-content p {
  max-width: 575px;
  margin: 0 auto;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
/*-----5 reasons----*/
.reason-content {
  display: -webkit-box;
  display: flex;
  background-color: #81b3d2;
}
.information-reason {
  width: 400px;
  padding: 47px 60px;
}
.information-bridge {
  padding: 47px 42px;
}
.information-reason .title-reason {
  max-width: 200px;
  margin: 0 auto 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.information-reason p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.information-reason .number-reason {
  margin-bottom: 21px;
}
.reason-picture {
  width: 800px;
  height: 256px;
}
.reason-picture img {
  display: block;
}
.reason-alternative {
  display: -webkit-box;
  display: flex;
  min-height: 330px;
}
.reason-alternative .information-reason {
  padding: 160px 55px 47px 55px;
}
.reason-icon {
  position: relative;
}
.reason-icon::before {
  position: absolute;
  top: 60px;
  left: 50%;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.reason-icon-housing::before {
  width: 75px;
  height: 72px;
  margin-left: -36px;
  background-image: url("../img/icon-1.svg");
}
.reason-icon-food::before {
  width: 74px;
  height: 70px;
  margin-left: -35px;
  background-image: url("../img/icon-3.svg");
}
.reason-icon-souvenir::before {
  width: 64px;
  height: 76px;
  margin-left: -31px;
  margin-top: -3px;
  background-image: url("../img/icon-2.svg");
}
.reason-alternative .title-reason {
  max-width: 150px;
  margin-bottom: 24px;
  color: #000000;
}
.reason-alternative p {
  color: #333333;
}
.reason-alternative-dark {
  min-height: 256px;
  background-color: #eeeeee;
}
.reason-alternative-dark .information-reason {
  padding: 48px 60px;
}
.reason-alternative-dark .number-reason {
  margin-bottom: 22px;
}
/*----Search hotel ----*/
.search {
  position: relative;
  text-align: center;
}
.search-content {
  width: 568px;
  text-align: center;
  margin: 0 auto;
  padding-top: 53px;
  background-color: #ffffff;
}

.search-question {
  max-width: 450px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 23px;
  color: #000000;
}
.search-choice {
  max-width: 450px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;

  color: #333333;
}
.button-brown {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button-brown:hover, .button-brown:focus {
  background-color: #604e43;
}
.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.button-brown-colorname {
  background-color: #766357;
  border: none;
}
.button-brown-filter {
  display: block;
  width: 568px;
  padding: 30px 84px;
  margin: 0 auto;
}

.map {
  position: relative;
  background-color: #ebebeb;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.map iframe {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 593px;
}

/* animation */

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/*---modal form---*/
.user-form {
  padding: 55px;
}
.modal {
  position: absolute;
  bottom: 600px;
  top: 291px;
  left: 316px;
  height: 395px;
  z-index: 20;
  display: block;
  background-color: #ffffff;
  box-shadow: 0 10px 15px 7px rgba(0, 1, 1, 0.15);
  margin-bottom: -395px;
}
.modal-hide {
  display: none;
}

.modal-validation-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 2.0s;
  animation-duration: 2.0s;
}
.modal-search-hotel {
  width: 568px;
  margin-left: 0;

  padding: 0;
}
.modal-form {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.modal-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  margin-bottom: 29px;
  padding-left: 0;
  max-height: 38px;
}

.modal-group label {
  width: 112px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
  letter-spacing: 0.2pt;
}
.modal-group input {
  width: 306px;
  height: 38px;
  padding: 4px 12px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.modal-group input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.modal-group input:active, .modal-group input:focus {
  background-color: #ffffff;
}
.modal-group input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}
.modal-group input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}
.modal-group input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}
.modal-group input::placeholder {
  text-transform: uppercase;
  color: #000000;
}
.modal-group-button {
  width: 39px;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.modal-group-button path {
  fill: #a9a9a9;
}
.modal-group-button:hover path {
  fill: #000000;
}
.modal-group-button:active path, .modal-group-button:focus path {
  fill: #81b3d2;
}
.modal-group-number {
  display: -webkit-box;
  display: flex;
}
.modal-group-number .modal-group {
  width: 50%;
}
.modal-group-number .modal-group:last-child {
  text-align: center;
}
.modal-group:last-child {
  margin-left: 5px;
  margin-bottom: 54px;
}
.modal-group-number input {
  width: 37px;
}
.modal-group-number button {
  font-size: large;
  font-weight: 700;
  color: #a9a9a9;
}
.modal-group-number button:hover {
  color: #000000;
}
.modal-group-number button:active, .modal-group-number button:focus {
  color: #81b3d2;
}
.modal-form-button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 16px;
}
.button-blue {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.button-blue:hover, .button-blue:focus {
  background-color: #669ec0;
}
.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button-blue-colorname {
  background-color: #81b3d2;
  border: none;
}
.button-blue-filter {
  width: 458px;
  height: 58px;
  margin-bottom: 0;
}
/*----footer---*/
.page-footer {
  display: -webkit-box;
  display: flex;
}
.main-footer {
  display: flex;
  position: absolute;
  bottom: 6px;
}
.page-footer-content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  min-height: 120px;
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 120px;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
.footer-contacts p {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 75px;
}
.footer-contacts a {
  color: #000000;
  padding-top: 5px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 120px;
  margin: 0;
  padding: 0;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  background-color: #81b3d2;
}
.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button path {
  fill: #ffffff;
}
.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 120px;
  margin: 0;
}
.footer-copyright p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0 5px;
  color: #000000;
}
.logo-academy {
  padding: 0;
  margin: 0;
}
.logo-academy path {
  fill: #231f20;
}
.logo-academy path:hover {
  fill: #81b3d2;
}
.logo-academy:active path, .logo-academy:focus path {
  fill: #bdbbbc;
}
/*-----CATALOG----*/
.catalog-form {
  padding: 28px 72px 31px 72px;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center -290px;
  background-size: cover;
}
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FORM-FILTER */
.form-filter {
  display: -webkit-box;
  display: flex;
}
.form-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form-filter-fieldset:nth-child(1) {
  width: 240px;
}
.form-filter-fieldset:nth-child(2) {
  width: 287px;
  margin-right: 200px;
  padding-left: 16px;
}
.form-filter-fieldset:nth-child(3) {
  width: 328px;
  padding-left: 12px;
}
.form-filter legend {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}
.form-filter-fieldset:nth-child(3) legend {
  margin-bottom: 9px;
}
.form-filter-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-filter-group li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.form-filter-group li:last-child {
  margin-bottom: 0;
}
.form-filter-group input {
  display: none;
}
.form-filter-group label {
  position: relative;
  padding-left: 40px;
  color: #ffffff;
}
.form-filter-input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.form-filter-input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}
.form-filter-input[type="checkbox"]:disabled + label, .form-filter-input[type="checkbox"]:checked:disabled + label {
  opacity: 0.3;
}
.form-filter-button {
  width: 138px;
  margin-left: 83px;
  padding: 5px;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
/* FILTER-RANGE */
.price-controls {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 328px;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 2px;
  height: 22px;
  margin-top: -11px;
  margin-left: -1px;
  background-color: #ffffff;
}
.price-controls input {
  display: -webkit-box;
  display: flex;
  max-width: 50%;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.price-controls input::-webkit-input-placeholder {
  color: #ffffff;
}
.price-controls input:-ms-input-placeholder {
  color: #ffffff;
}
.price-controls input::-ms-input-placeholder {
  color: #ffffff;
}
.price-controls input::placeholder {
  color: #ffffff;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 2px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  border-width: 8px;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.button-transparent {
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
}
.button-transparent:hover, .button-transparent:active, .button-transparent:focus {
  color: #000000;
  background-color: #ffffff;
}
/*-----Search-----*/
.sorting {
  display: flex;
  flex-direction: row;
  min-height: 86px;
}
.sorting-title {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  margin-top: 31px;
  margin-right: 48px;
  margin-left: 72px;
  padding: 0;
  color: #000000;
}
.sorting-result {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;
  margin-top: 38px;
  margin-right: 39px;
  margin-left: 0;
  padding: 0;
  color: #000000;
}
.sorting-by {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sorting-by a {
  margin: 38px 33px 0 0;
}
.button-price {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;
  color: #81b3d2;
}
.button-type, .button-rating {

  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 18px;


  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}
.button-type:hover, .button-type:focus {
  color: #81b3d2;
}
.button-type:active {
  color: #000000;
}
.button-rating:hover, .button-rating:focus {
  color: #81b3d2;
}
.button-rating:active {
  color: #000000;
  text-decoration: none;
}
.sort-by-priority {
  margin-right: 70px;
  margin-left: auto;
  margin-top: 35px;
  padding: 0;
}
.sort-by-priority a {
  margin: 0 4px;
}
.sort-by-priority-pass path {
  fill: #cacaca;
}
.sort-by-priority-pass path:hover, .sort-by-priority-pass path:focus {
  fill: #000000;
}
.sort-by-priority-pass path:active {
  fill: #81b3d2;
}
.sort-by-priority-active path{
  fill: #81b3d2;
}
/*---Search hotels-----*/
.list-hotels {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hotel-image {
  display: -webkit-box;
  display: flex;
  padding: 30px 65px 24px 72px;
  border-top: 1px solid #e5e5e5;
}
.list-hotels li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.hotel-information {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-left: 30px;
}
.hotel-title {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  text-align: left;
  margin-top: -3px;
  margin-bottom: 9px;
  color: #000000;
  letter-spacing: 0.2pt;
}
.hotel-title:hover, .hotel-title:focus {
  color: #81b3d2;
}
.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel-type {
  display: -webkit-box;
  display: flex;
  margin: 0;
  margin-bottom: 16px;
}
.hotel-type span:first-child {
  width: 110px;
  margin-right: 6px;
}
.button-details {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button-details-colorname {
  background-color: #81b3d2;
  border: none;
}
.button-details:hover, .button-details:focus {
  background-color: #669ec0;
}
.button-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button-details-filter {
  width: 110px;
  height: 27px;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}
.button-reservation {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button-reservation-colorname {
  background-color: #766357;
  border: none;
}
.button-reservation-filter {
  width: 142px;
  height: 27px;
  margin-top: 0;
  margin-left: 3px;
  padding: 0;
}
.button-reservation:hover, .button-reservation:focus {
  background-color: #604e43;
}
.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-details {
  width: 245px;
}
.hotel-stars {
  height: 17px;
  margin: -1px 0 50px auto;
}
.hotel-stars-four {
  max-width: 100px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 0 center;
}
.hotel-stars-three {
  max-width: 75px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: -1px center;
}
.hotel-stars-two {
  max-width: 50px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: -2px center;
}
.hotel-rating {
  font-family: inherit;
  width: 111px;
  margin: 0;
  margin-left: 130px;
  padding: 2px 0;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}
