body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: white;
  background-position: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  display: none;
}

.container {
  position: relative;
  width: 1200px;
  height: 2762px;
  margin: 0 auto;
  }

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  min-height: 56px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-stretch: normal;
  color: black;
  list-style: none;
  background-color: white;

}


.site-navigation a {
  display: block;
  padding: 0;
  color: black
}

.logo {
  position: absolute;
  z-index: 2;
  margin-left: 530px;
  width: 140px;
  height: 71px;
}

/*---main------*/


/* скорее всего лишнее
.main-navigation {
  min-height: 56px;
  background-color: white;
}


.main-contant {
  width: 1200px;
  min-height: 2586px;
}*/

/*---Сетка для приветствия---*/

.promo {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 773px;
  align-items: center;
  position: relative;
  outline: 2px solid red;
  background-image: url("../img/background-photo.jpg");
  background-size: 100%;
}


.welcome {
  position: absolute;
  left: 371px;
  bottom: 288px;
}


.poligon {
  width: 1203px;
  height: 59px;
  position: absolute;
  bottom: 214px;
  right: 0;
}

.white-back {
  width: 1200px;
  height: 216px;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.slogan {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: black;
  margin-top: 61px;
}

.reasons-slogan {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
/*-----Пять причин----*/

/*скорее всего ненужен
.section-content {
  width: 1200px;
  height: 1098px;
  background-color: gold;
}*/

.section1-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 263px;
  outline: 2px solid coral;
}

.blue-form-reason1 {
  width: 400px;
  height: 256px;
  margin-top: 7px;
  background-color: #81b3d2;
}

.feature-picture-1 {
  width: 800px;
  height: 256px;
  padding-top: 7px;
}

.title-white-reason {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  margin-top: 53px;
  color: #ffffff;
}

.number-white-reason {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.slogan-reason-white {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  margin-bottom: 64px;
  color: #ffffff;
}

.number-black-reason {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.slogan-reason-black {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.icon-1,
.icon-2,
.icon-3 {
}

.title-icon-reason {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  color: #000000;
}


.title-black-reason {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  margin-top: 50px;
  color: black;
}

.slogan-icon {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.section2-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 330px;
  background-color: white;
  outline: 2px solid khaki;
}

.section3-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  height: 256px;
  outline: 2px solid darkgoldenrod;
}

.blue-form-reason2 {
  width: 400px;
  background-color: #81b3d2;
}

.reason3,
.reason4,
.reason5 {
  width: 100%;
  background-color:#eeeeee;
}

.section4-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 256px;
  outline: 2px solid rebeccapurple;
}

/*----поиск----*/

.search {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  height: 764px;
  outline: 2px solid khaki;
}

.search-content {
  display: flex;
  flex-direction: column;
  min-height: 291px;
  background-color: white;
  outline: 2px solid greenyellow;
}

.search-question {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 36px;
  text-align: center;
  color: black;
}

.search-choice {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.button-brown {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.button-brown-colorname {
  background-color: #766357;
  border: none;
}

.button-brown-filter {
  position: absolute;
  width: 568px;
  height: 86px;
  margin-top: 205px;
  margin-left: 316px;
  padding: 0;

}

/*---форма---*/

.user-form {
  position: absolute;
  left: 316px;
  bottom: 78px;
  width: 568px;
  height: 395px;
  background-color: white;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 458px;
  height: 285px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid greenyellow;
}


.user-choice-date input {
  box-sizing: border-box;
  width: 346px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 13px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  background-color: #f2f2f2;
  border: none;
}

.user-choice-date label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 13px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  padding-right: 0;
}

.user-choice-number {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
}

.user-choice-number input {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.button-blue {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  }

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.button-blue-colorname {
  background-color: #81b3d2;
  border: none;
}

.button-blue-filter {
  width: 458px;
  height: 58px;
  margin-bottom: 0;
}

.button-calendar1 {
  position: absolute;
  top: 0;
  right: 0;
}

.button-calendar2 {
  position: absolute;
  top: 21px;
  right: 22px;
}

/*----футер---*/

.main-footer {
  display: flex;
  position: absolute;
  min-height: 120px;
  background: white;
  outline: 2px solid greenyellow;
}

.footer-container {
  display: flex;
  width: 967px;
  min-height: 52px;
  margin-top: 36px;
  margin-left: 132px;
  margin-right: 101px;
  outline: 2px solid grey;
}

.footer-label {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: left;
  margin-top: 0;
  color: #000000;
}

.footer-contacts a {
  color: #000000;
}

.footer-social {
  width: 150px;
  margin-left: 169px;
  padding: 0;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  outline: 2px solid rebeccapurple;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  width: 197px;
  margin-left: auto;
}

.footer-copyright p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin-top: 18px;
  margin-right: 123px;
  color: #000000;
}

.logo-akademy {
  display: block;
  padding: 0;
  margin-top: 3px;
  margin-right: 0;


}


/*-----catalog----*/

.container {
  position: relative;
  width: 1200px;
  min-height: 933px;
}

.main-container {
  min-height: 757px;
  background-image: url("../img/filter-background.jpg");
  background-size: 50%;
  outline: 2px solid royalblue;
}

/*-----форма-------*/

.form-filter {
  display: flex;
  flex-direction: row;
  min-height: 217px;
  outline: 2px solid darkkhaki;
}

.form-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 391px;
  min-height: 155px;
  justify-content: space-between;
  padding: 0;
  margin-top: 87px;
  margin-left: 72px;
  outline: 2px solid darkorange;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #ffffff;
}

.filter-option {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.login-checkbox {
  position: relative;
  padding-left: 13px;
  padding-top: 31px;
  margin: 0;
}

.checkbox-on {
  position: absolute;
  width: 27px;
  height: 23px;
  padding: 0;
  margin-top: 41px;
}
.filter-list-infrastructure {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list-house {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-cost {
  display: flex;
  flex-direction: column;
  width: 314px;
  min-height: 151px;
  padding: 0;
  margin-top: 87px;
  margin-left: 349px;
  outline: 2px solid darkorange;
}

.filter-title input {
  width: 220px;
  height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: solid 2px #f2f2f2;
}

.button-form {
  width: 133px;
  height: 32px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.button-form-colorname {
  color: #ffffff;
  background-color: transparent;
  border: solid 2px #f2f2f2;
}

.button-form-filter {

}

.button-form:hover,
.button-form:focus {
  background-color: white;
  color: #000000;
}



/*-----Поиск-----*/


.sorting {
  display: flex;
  flex-direction: row;
  min-height: 86px;
}

.sorting-title {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  color: #000000;
  margin-top: 31px;
  margin-right: 49px;
  margin-left: 72px;
  padding: 0;
}

.sorting-result {
  font-size: 12px;
  font-weight:normal;
  font-stretch: normal;
  line-height: 18px;
  color: #000000;
  margin-top: 41px;
  margin-right: 40px;
  margin-left: 0;
  padding: 0;
}


.button-price {
  display: inline-block;
  font-size: 12px;
  font-weight:normal;
  font-stretch: normal;
  line-height: 18px;
  color: #81b3d2;
  margin-top: 41px;
  margin-right: 33px;
  margin-left: 0;
  padding: 0;
}

.button-type {
  display:inline-block;
  font-size: 12px;
  font-weight:normal;
  font-stretch: normal;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  margin-top: 41px;
  margin-right: 33px;
  margin-left: 0;
  padding: 0;
  text-decoration: underline;
}

.button-type:hover,
.button-type:focus {
  color: #81b3d2;
}

.button-type:active {
 color: #000000;
}


.button-rating {
  display:inline-block;
  font-size: 12px;
  font-weight:normal;
  font-stretch: normal;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  margin-top: 41px;
  margin-right: 504px;
  margin-left: 0;
  padding: 0;
  text-decoration: underline;
}

.button-rating:hover,
.button-rating:focus {
  color: #81b3d2;
}

.button-rating:active {
  color: #000000;
}

.container-hotel-external {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  margin-left: 72px;
  outline: 2px solid coral;
}

.amara-resort-and-spa {
  padding: 0;
  margin-top: 30px;
}

.hotel-internal {
  display: flex;
  flex-direction: column;
  width: 891px;
  min-height: 90px;
  outline: 2px solid rosybrown;
}

.hotel-title {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 26px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 0;
  padding: 0;
  color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0,0,0,0.3);
}
.hotel-details {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  text-align: left;
  margin-top: 17px;
  margin-left: 30px;
  margin-bottom: 0;
  padding: 0;
  color: #333333;
}

.button-details {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-details-colorname {
  background-color: #81b3d2;
  border: none;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.button-details-filter{
  width: 110px;
  height: 27px;
  margin-top: 18px;
  margin-left: 30px;
  padding: 0;
}

.button-reservation {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-reservation-colorname {
  background-color: #766357;
  border: none;
}
.button-reservation-filter {
  width: 142px;
  height: 27px;
  margin-top: 18px;
  margin-left: 6px;
  padding: 0;
}

.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-reservation:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}





.filter-result {
  min-height: 540px;
  background-color: white;
}

.list-hotels {
  list-style: none;
  flex-direction: column;
  min-height: 453px;
}

.container-motel {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  margin-left: 72px;
}

.desert-quail-inn {
  padding: 0;
  margin-top: 30px;
}
.container-apartment {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  margin-left: 72px;
}

.villas-at-poco-diablo {
  padding: 0;
  margin-top: 30px;
}
